* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;

}

ul li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

nav,
footer,
header,
aside {
    display: block;
}

img {
    vertical-align: top;
    /* display: block; */
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body._lock {
    overflow: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* 1400, 1200, 992, 768, 576, 390 тф. */

header {
    height: 90px;
    background-color: #F2785C;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}


.header__logo {
    z-index: 5;
}

.header__logo img {
    width: 30px;
    height: 30px;
}

.header__logo span {
    margin-left: 6px;
    font-family: 'Magra', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    line-height: 39px;
}

@media (max-width:992px) {
    .header__logo span {
        font-size: 20px;
        line-height: 32px;
    }
}

@media (max-width:576px) {
    .header__logo span {
        display: none;
    }
}

.header__burger-menu {
    display: none;
}

.header__menu {
    width: 36.6%;
}

.header__navigation ul {
    display: none;
}

.header__navigation {
    display: flex;
    justify-content: space-around;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    line-height: 21px;
}

@media (max-width:1200px) {
    .header__navigation {
        font-size: 13px;
        line-height: 18px;
    }
}

@media (max-width:992px) {
    .header__navigation {
        font-size: 10px;
        line-height: 15px;

    }
}

.header__navigation a {
    color: #fff;
}

.header__navigation a:hover {
    color: #0D606F;
    transition: 1s;
}

.header__login {
    border-radius: 10px;
    height: 41px;
    width: 103px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D606F;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    border: none;

    position: relative;
    transition: 0.5s;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    top: 20px;
    bottom: 0;
    left: 50%;
    right: 0;
}

.header__login::before,
.header__login::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #061e37;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

.header__login::after {
    opacity: 1;
    transition-delay: .2s;
}

.header__login:hover {
    cursor: #fff;
    color: #fff;
}

.header__login:hover::before,
.header__login:hover::after {
    left: 0;
}

.preview {
    background-image: url(../img/Background-header.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    width: 100%;
    position: relative;
    padding-top: 122px;
    padding-bottom: 221px;
}

@media (max-width:576px) {
    .preview {
        padding-bottom: 0px;
        padding-top: 55px;
    }
}

@media (max-width:390px) {
    .preview {
        padding-bottom: 61px;
        padding-top: 142px;
    }
}

.preview__container {
    width: 62%;
    margin-left: 8.3%;
    padding-bottom: 33px;
}

@media (max-width:390px) {
    .preview__container {
        width: 100%;
        margin-left: 0;
        padding-bottom: 0px;

    }
}


.preview__title {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #fff;
}

@media (max-width:1200px) {
    .preview__title {
        font-size: 70px;
        line-height: 90px;

    }
}

@media (max-width:992px) {
    .preview__title {
        font-size: 50px;
        line-height: 70px;
    }
}

@media (max-width:768px) {
    .preview__title {
        font-size: 35px;
        line-height: 55px;
    }
}

@media (max-width:576px) {
    .preview__title {
        font-size: 25px;
        line-height: 45px;
    }
}

@media (max-width:390px) {
    .preview__title {
        display: none;
    }
}

.preview__subtitle {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-top: 40px;
}

@media (max-width:1200px) {
    .preview__subtitle {
        margin-top: 25px;
    }
}

@media (max-width:992px) {
    .preview__subtitle {
        font-size: 15px;
        line-height: 19px;
        white-space: nowrap;
    }
}

@media (max-width:768px) {
    .preview__subtitle {
        margin-top: 20px;
        font-size: 10px;
        line-height: 14px;
    }
}

@media (max-width:576px) {
    .preview__subtitle {
        display: none;
    }
}

.search {
    margin-top: 45px;
    width: 100%;
    height: 95px;
    background-color: #fff;
    opacity: 0.7;
    display: flex;
    border-radius: 16px;
    padding: 18px 18px 18px 41px;
    justify-content: space-between;
}

@media (max-width:992px) {
    .search {
        height: 55px;
        padding: 10px 10px 10px 30px;
    }
}

@media (max-width:768px) {
    .search {
        margin-top: 25px;
    }
}

@media (max-width:576px) {
    .search {
        margin-top: 15px;
        height: 40px;
        padding: 5px 5px 5px 15px;

    }
}

@media (max-width:390px) {
    .search {
        width: 92%;
        margin: 0 auto;


    }
}

.search__container {
    height: 59px;
    width: 67.2%;
}

@media (max-width:992px) {
    .search__container {
        height: 45px;
    }
}

@media (max-width:576px) {
    .search__container {
        height: 30px;

    }
}

.search__txt {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    color: #F2785C;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 29px;
    outline: none;
    text-align: left;
}

@media (max-width:992px) {
    .search__txt {
        height: 100%;
        font-size: 18px;
        line-height: 23px;
    }
}

@media (max-width:768px) {
    .search__txt {
        height: 100%;
        font-size: 13px;
        line-height: 18px;
    }
}

@media (max-width:576px) {
    .search__txt {
        font-size: 10px;
        line-height: 15px;
    }
}

::placeholder {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

@media (max-width:992px) {
    ::placeholder {
        height: 100%;
        font-size: 18px;
        line-height: 23px;
    }
}

@media (max-width:768px) {
    ::placeholder {
        height: 100%;
        font-size: 13px;
        line-height: 18px;
    }
}

@media (max-width:576px) {
    ::placeholder {
        font-size: 10px;
        line-height: 15px;
    }
}

.search__btn {
    height: 59px;
    width: 228px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    background-color: #0D606F;
    border-radius: 10px;
    border: none;
}

@media (max-width:992px) {
    .search__btn {
        height: 35px;
        width: 170px;
        font-size: 18px;
        line-height: 26px;
    }
}

@media (max-width:576px) {
    .search__btn {
        height: 30px;
        width: 120px;
        font-size: 10px;
        line-height: 18px;
    }
}

.search__btn:hover {
    background-color: #061e37;
    transition: 1.5s;
}

.steps {
    padding-top: 80px;
}

@media (max-width:992px) {
    .steps {
        padding-top: 60px;
    }
}

@media (max-width:768px) {
    .steps {
        padding-top: 40px;
    }
}

@media (max-width:576px) {
    .steps {
        padding-top: 30px;
    }
}

@media (max-width:390px) {
    .steps {
        padding-top: 20px;
    }
}

h2 {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
    width: 100%;
}

@media (max-width:992px) {
    h2 {
        font-size: 30px;
        line-height: 43px;
    }
}

@media (max-width:768px) {
    h2 {
        font-size: 20px;
        line-height: 33px;
    }
}

.steps__container {
    width: 81.7%;
    display: flex;
    margin: 52px auto 0 auto;
    justify-content: space-between;
}

@media (max-width:576px) {
    .steps__container {
        margin: 32px auto 0 auto;
        width: 100%;

    }
}

@media (max-width:390px) {
    .steps__container {
        margin: 20px auto 0 auto;
        width: 100%;

    }
}

.steps__img {
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 100px;
}

@media (max-width:992px) {
    .steps__img {
        width: 75px;
        height: 75px;
    }
}

@media (max-width:768px) {
    .steps__img {
        width: 70px;
        height: 70px;
    }
}


.steps__text {
    text-align: center;
    margin-top: 30px;
    color: #0D606F;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
}

@media (max-width:992px) {
    .steps__text {
        font-size: 15px;
        line-height: 19px;
        white-space: normal;
    }
}

@media (max-width:768px) {
    .steps__text {
        font-size: 11px;
        line-height: 15px;
    }
}

@media (max-width:390px) {
    .steps__text {
        font-size: 10px;
        line-height: 12px;
        margin-top: 20px;
    }


}

.steps__item1 {
    width: 247px;
}

@media (max-width:390px) {
    .steps__item1 {
        width: 94px;
    }
}

.steps__item2 {
    width: 222px;
}

@media (max-width:390px) {
    .steps__item2 {
        width: 111px;
    }

    .steps__item2 p {
        white-space: nowrap;
        flex-wrap: nowrap;
    }

}

.steps__item3 {
    width: 317px;
}

@media (max-width:390px) {
    .steps__item3 {
        width: 98px;
    }
}

.destinations {
    margin-top: 100px;
    min-width: 0;
    max-height: 100%;
    min-height: 100%;
}

@media (max-width:768px) {
    .destinations {
        margin-top: 50px;
    }
}

@media (max-width:576px) {
    .destinations {
        margin-top: 30px;
    }
}

@media (max-width:390px) {
    .destinations {
        margin-top: 20px;
    }
}

.image-slider__wrapper {
    padding-bottom: 70px;
    padding-top: 32px;
}

@media (max-width:768px) {
    .image-slider__wrapper {
        padding-bottom: 40px;

    }
}

@media (max-width:576px) {
    .image-slider__wrapper {
        padding-bottom: 0px;
    }
}

.image-slider {
    padding-top: 30px;
}

.image-slider__image {
    text-align: center;
    max-width: 100%;
    min-width: 100%;
}

.image-slider__image img {
    max-width: 100%;
    min-width: 100%;
}

/*Стрелки*/
.image-slider .swiper-button-next,
.image-slider .swiper-button-prev {
    display: none;
}

@media (max-width:768px) {

    .image-slider .swiper-button-next,
    .image-slider .swiper-button-prev {
        display: block;


    }

    .image-slider .swiper-button-next::after,
    .image-slider .swiper-button-prev::after {
        color: #F2785C;
        /* font-size: 80px; */
        width: 25px;
        height: 14px;
    }
}


/*Плагинация*/
.image-slider .swiper-pagination {
    bottom: 0;
}

.image-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #F2785C;
    opacity: 0.5;

}

.image-slider .swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #F2785C;
    opacity: 1;
}




/* .destinations__container{
    width: 2520px;
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 46px;
}

@media (max-width:992px) {
    .destinations__container{
        margin-top: 40px;
    }
}
@media (max-width:768px) {
    .destinations__container{
        margin-top: 30px;
    }
}
@media (max-width:390px) {
    .destinations__container{
        margin-top: 20px;
    }
}
.destinations__slider{
    display: flex;
}

.destinations__slide img{
    width: 800px;
    height: 800px;
}

.destinations__slider--center{
    margin-left: 60px; 
    margin-right: 60px; 
}

.destinations__dots{
    margin-top: 24px;
    text-align: center;
    width: 80px;
    height: 20px;
    display: flex;
    margin: 40px auto 0px auto;
}

.destinations__dots--dot{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #F2785C;
    opacity: 0.5;
}

.destinations__dots--dot:nth-child(2){
    opacity: 1;
    margin-left: 10px;
    margin-right: 10px;
} */

.destinations__btn {
    width: 228px;
    height: 59px;
    background-color: #0D606F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 41px auto;
    border: none;
}

@media (max-width:768px) {
    .destinations__btn {
        width: 200px;
        height: 59px;
    }
}

@media (max-width:390px) {
    .destinations__btn {
        width: 92px;
        height: 30px;
        margin-bottom: 13px;
        margin-top: 10px;
    }
}

.destinations__btn:hover {
    background-color: #061e37;
    transition: 1.5s;
}

.destinations__btn img {
    width: 40;
    height: 40;
}

@media (max-width:390px) {
    .destinations__btn img {
        width: 10px;
        height: 10px;
    }
}

.destinations__btn--title {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-left: 10px;
}

@media (max-width:390px) {
    .destinations__btn--title {
        font-size: 11px;
        line-height: 15px;
    }
}

.stories {
    margin-top: 20px;
    width: 100%;


}

@media (max-width:768px) {
    .stories {
        width: 100%;
    }
}

.stories__title {
    margin-bottom: 40px;
}

@media (max-width:992px) {
    .stories__title {
        margin-bottom: 30px;
    }
}

@media (max-width:768px) {
    .stories__title {
        margin-bottom: 20px;
    }
}

@media (max-width:390px) {
    .stories__title {
        margin-bottom: 10px;
    }
}

.stories__container {
    width: 100%;
    height: 100%;
    background-image: url(../img/Background-footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: 1;
    padding-bottom: 65px;
    position: relative;
}

.stories__container::before {
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
    height: calc(100% - 65px);
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
}

.stories__block {
    width: 83.3%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 41px;
    position: relative;
    height: 100%;
    z-index: 3;
}

@media (max-width:768px) {
    .stories__block {
        padding-bottom: 21px;
    }
}

@media (max-width:768px) {
    .stories__block {
        width: 90%;
    }
}

@media (max-width:390px) {
    .stories__block {
        width: 360px;
        padding-bottom: 13px;
    }
}

.stories__item {
    display: flex;
    margin-top: 40px;
    width: 100%;
}

@media (max-width:576px) {
    .stories__item {
        margin-top: 20px;
    }
}

.stories__item img {
    width: 400px;
    height: 250px;
    display: block;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #0D606F;
}

@media (max-width:1200px) {
    .stories__item img {
        width: 350px;
        height: 200px;
    }
}

@media (max-width:992px) {
    .stories__item img {
        width: 300px;
        height: 275px;
    }
}

@media (max-width:768px) {
    .stories__item img {
        width: 225px;
        height: 200px;
    }
}

@media (max-width:576px) {
    .stories__item img {
        width: 155px;
        height: 130px;
    }
}

@media (max-width:390px) {
    .stories__item img {
        width: 155px;
        height: 130px;
    }
}

.stories__text {
    margin-left: 40px;
    /* width: 52.8%; */
    width: 63.3%;
}

@media (max-width:768px) {
    .stories__text {
        margin-left: 20px;
    }
}

@media (max-width:576px) {
    .stories__text {
        margin-left: 20px;
    }
}

@media (max-width:390px) {
    .stories__text {
        margin-left: 10px;
    }
}

h4 {
    color: #0D606F;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 24px;

}

@media (max-width:1200px) {
    h4 {
        font-size: 30px;
        line-height: 37px;
    }
}

@media (max-width:992px) {
    h4 {
        font-size: 25px;
        line-height: 32px;

    }
}

@media (max-width:768px) {
    h4 {
        font-size: 18px;
        line-height: 25px;
        font-weight: 700;

    }
}

@media (max-width:576px) {
    h4 {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 13px;
        font-weight: 700;

    }
}

@media (max-width:390px) {
    h4 {
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 10px;
    }
}

.stories__text p {
    color: #0D606F;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

@media (max-width:1200px) {
    .stories__text p {
        font-size: 15px;
        line-height: 19px;
    }
}

@media (max-width:992px) {
    .stories__text p {
        font-size: 15px;
        line-height: 19px;
    }
}

@media (max-width:768px) {
    .stories__text p {
        font-size: 15px;
        line-height: 19px;
    }
}

@media (max-width:576px) {
    .stories__text p {
        font-size: 10px;
        line-height: 14px;
    }
}

@media (max-width:390px) {
    .stories__text p {
        font-size: 9px;
        line-height: 11px;
    }
}


@media (max-width:768px) {
    .stories__text span {
        display: none;
    }
}

.stories__text a {
    font-weight: 700;
    color: #0D606F;
    text-decoration: underline;
}

.stories__btn {
    margin-bottom: 0;
}

footer {
    position: relative;
    bottom: 65px;
    z-index: 20;
    /* top: 0; */
    height: 65px;
    width: 100%;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    z-index: 12;
    width: 100%;
}

@media (max-width:768px) {
    .footer__container {
        /* position: relative;  */

        height: 65px;
        top: 0px;
        /* align-items: normal; */

    }
}

.footer__links {
    display: flex;
}

.footer__links img {
    width: 85px;
    height: 40px;
}

@media (max-width:768px) {
    .footer__links img {
        width: 60px;
        height: 30px;
    }
}

@media (max-width:576px) {
    .footer__links img {
        display: none;
    }
}

.footer__container p {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    display: block;
    height: 22px;
}

@media (max-width:576px) {
    .footer__container p {
        display: none;
    }
}

.footer__container p:hover {
    color: #061e37;
    cursor: pointer;
}

.footer__icons {
    width: 9.8%;
    display: flex;
    justify-content: space-between;
}

@media (max-width:1200px) {
    .footer__icons {
        width: 12%;
    }
}

@media (max-width:992px) {
    .footer__icons {
        width: 15%;
    }
}

@media (max-width:576px) {
    .footer__icons {
        width: 100%;
        justify-content: center;
    }
}

.footer__icons img {
    width: 33.65px;
    height: 33.65px;
}

@media (max-width:768px) {
    .footer__icons img {
        width: 28px;
        height: 28px;
    }
}

@media (max-width:576px) {
    /* .footer__icons img {
        width: 31px;
        height: 31px;
        margin-right: 24px;
    } */
    /* .footer__icons:last-child{
        margin-right: 0px;

    } */

    .icons__two {
        margin-left: 24px;
        margin-right: 24px;
    }

}

@media (max-width:767px) {
    header {
        justify-content: space-between;
        background-color: transparent;
        box-shadow: none;
        /* align-items: start; */
        height: 50px;
        opacity: 1;


    }

    nav {
        /* width: 100%; */
    }

    .header__logo {
        margin-left: 16px;
    }

    .header__burger-menu {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        right: 25px;
    }

    .header__burger-menu span,
    .header__burger-menu::before,
    .header__burger-menu::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .header__burger-menu::before,
    .header__burger-menu::after {
        content: "";
    }

    .header__burger-menu::before {
        top: 0;
    }

    .header__burger-menu::after {
        bottom: 0;
    }

    .header__burger-menu span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .header__burger-menu._active span {
        transform: scale(0) translate(0px, -50%);

    }

    .header__burger-menu._active {
        left: -100px;
    }

    .header__burger-menu._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        left: -100%;

    }

    .header__burger-menu._active::after {
        top: 50%;
        transform: rotate(45deg) translate(0px, 50%);
        left: -100%;

    }

    .header__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 165px;
        height: 250px;
        background-color: #F2785C;
        border-radius: 10px;
        padding: 34px 0px 30px 0px;
        transition: right 0.3s ease 0s;
        overflow: auto;
        box-shadow: 0px 4px 3px 0px #0D606F40;

    }

    .header__menu._active {
        right: 0;
        width: 165px;
        height: 250px;
    }

    .header__navigation {
        display: block;
        text-align: center;
        font-family: 'Red Hat Text', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        width: 100%;

    }

    .header__navigation ul {
        display: block;
        width: 100%;
    }

    .header__navigation ul li,
    .header__navigation li {
        margin-top: 10px;
    }









    .button-container {
        display: none;
        z-index: -10;
        width: 0px;
    }





}